body {
    text-align: center;
  }
#img1 {
    height: 800px;
    border-radius: 50px;
  }
  #line {
    border-top: 20px;
    border-radius: 5px;
    width: 250px;
    border-style: solid;
    border-color: #EF8354;
  }
.h1 {
    font-size: 70px;
    color: #9195dc;
    font-family: 'Nerko One', cursive;
  }
.paragraph {
    font-family: 'Fira Sans', sans-serif;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 50px;
    color: #F49D37;
  }
#sec1 {
    background: linear-gradient(#3C91E6 0%, #F22B29 100%);
    padding-bottom: 1%;
    width: 100%;
    height: 100%;
}
#sec2 {
    background: linear-gradient(#F22B29 0%, #43aa8b 100%);
    padding-top: 1%;
    padding-bottom: 1%;
}
.link {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 9px;
    padding-left: 9px;
    font-family: 'Nerko One', cursive;
    float: left;
    font-size: 30px;
    color: #06d6a0;
}
.menulinks {
    text-decoration: none;
    color: #06d6a0;
}
.link:hover {
    background: linear-gradient(#3C91E6 0%, #f94144 200%);
    
}
#menu {
    list-style: none;
    position: fixed;
}
#sec3 {
  background: linear-gradient(#43aa8b 0%, #05204A 100%);
  padding-top: 1%;
  padding-bottom: 1%;
}
.vg_img {
  height: 500px;
  width: 50%px;
}
.vg_links {
  color: #9195dc;
}
#sec4 {
  background: linear-gradient(#05204A 0%, #F45B69 100%);
  padding-top: 1%;
  padding-bottom: 1%;
}#sec5 {
  background: linear-gradient(#F45B69 0%, rgb(0, 255, 55) 100%);
  padding-top: 1%;
  padding-bottom: 1%;
}
#sec6 {
  background: linear-gradient(rgb(0, 255, 55) 0%, #f81762 100%);
  padding-top: 1%;
  padding-bottom: 1%;
}
.imginspa {
  transition: transform.2s;
  height: 500px;
  border-width: 20px;
  border-style: outset;
  border-color: rgb(28, 89, 158);
}
.imginspa:hover {
  transform: scale(0.9);
}